<div class="css-fade1">

<%= render partial: "header" %>

<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/projects/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/skill">Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/work">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/contact" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>
</div>
<div class="container-fluid">
  <%= image_tag 'topview.jpg',class:"imagesize" %>
</div>
<div class="container">
  <div class="service mt-5">Service</div>
  <div class="service__contact">
    <div class="service1">
      <section>
        <h3>コーディング</h3>
        <i class="fas fa-laptop-code"></i>
        <p class="text">
        ヒアリングに基づいたプランに沿って、デザインを作成いたします。
        人の使うものであることを常に意識して、目的に沿ったデザインの作成を心掛けます。
        メンテナンスのしやすいコーディングをいたします。
        </p>
      </section>
      <section>
        <h3>LP作成</h3>
        <i class="far fa-newspaper"></i>
        <p class="text"> 
        LP(ランディングページ）により、訪問者の知りたい情報をまとめて伝えられることができます。
        あらゆるユーザーのニーズに対応でき、集客UPに繋がるようなLPを作成いたします。
        </p>
      </section>
      <section>
        <h3>WordPress</h3>
        <i class="fab fa-wordpress"></i>
        <p class="text">
        WordPressで「コーポレートサイト」「ブログサイト」「ECサイト」「求人サイトなどの会員制サイト」の作成をいたします。
        ヒアリングに基づき、利用者に満足していただけるよう、デザインを作成いたします。
        </p>
      </section>
    </div>
  <div class="service mt-5">Works</div>
  <ul class="imagezone">
    <div class="slider">
      <%= link_to "http://54.238.248.33/", :target=>["_blank"] do %><%= image_tag 'porttop.jpg', height:250,width:400,class:"imageup"%><% end %>
      <%= link_to "http://54.64.93.92/", :target=>["_blank"] do %><%= image_tag 'freemarket.jpg', height:250,width:400,class:"imageup"%><% end %>
      <%= link_to "https://musicalinstrument.herokuapp.com/", :target=>["_blank"] do %><%= image_tag 'mypreciousinstrument.jpg', height:250,width:400,class:"imageup"%><% end %>
    </div>
</ul>
</div>
<%= render partial: "footer" %>

</div>